@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
  font-family: 'Lora', serif;
  background: #d0d5da;
}
.form-bg {
}

a {
  text-decoration: none;
  color: 0d6efd;
}
.full-form {
  color: rgb(68, 66, 66);
  font-weight: 700;
  background-color: white;
}

.btn a {
  color: inherit;
  font-weight: inherit;
}

.col-md-6 img{
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}